// import font(s)
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Quicksand:700");

// detail root variable(s)
$font: "Open Sans", sans-serif;
$font-header: "Quicksand", sans-serif;
$color-card: #fff;
$color-bg-s: #fe6e32;
$color-bg-m: #f33266;
$color-bg-e: #b62275;
$color-text: $color-bg-m;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: $font;
  color: $color-text;
  background: linear-gradient(
    to bottom right,
    $color-bg-s,
    $color-bg-m,
    $color-bg-e
  );
}
h1,
h2,
h3 {
  font-family: $font-header;
}
main {
  background: $color-card;
  max-width: 700px;
  width: 90vw;
  margin: 1rem auto;
  padding: 1rem;
  h1 {
    text-align: center;
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.4rem;
    margin: 0.7rem 0 1.5rem;
  }
  section {
    margin: 1rem 0 1.5rem;
  }
}
.backend {
  h3 {
    margin: 1rem 0 0.5rem;
    font-size: 1.5rem;
  }
  ol {
    list-style-position: inside;
    li {
      line-height: 2.5;
      font-size: 1.1rem;
    }
  }
  code {
    font-size: 1.25rem;
    font-family: monospace;
    background: rgba($color-bg-s, 0.2);
  }
}
.frontend {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
      margin: 0.75rem 0;
      color: $color-card;
      background: $color-bg-m;
      padding: 0.75rem 1rem;
      border-radius: 5px;
      border: none;
      font-size: 1.1rem;
      font-family: inherit;
      &::placeholder {
        color: inherit;
      }
    }
  }
  .conversion {
    margin: 0.5rem 0;
    text-align: center;
    p {
      text-transform: initial;
      font-size: 1.2rem;
      display: inline-block;
      color: $color-card;
      background: darken($color-bg-m, 10%);
      padding: 1.2rem 1rem 1rem;
      letter-spacing: 0.1rem;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        border-top: 0.75rem solid $color-card;
        border-right: 0.75rem solid transparent;
        border-bottom: 0.75rem solid transparent;
        border-left: 0.75rem solid transparent;
      }
    }
  }
  details {
    ul {
      list-style: none;
      li {
        margin: 1rem 0;
        padding-left: 0.3rem;
        border-left: 3px solid $color-text;
      }
    }
  }
}
