@import url('https://fonts.googleapis.com/css?family=Libre+Barcode+39|Open+Sans');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
  color: #220505;
  --accent: #EA5353;
  --cheese : #854d0d;
  --cheese : #ffe7a9;
  font-family: 'Open Sans', sans-serif;
  background: var(--cheese);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #fff;
  padding: 6rem 3.5rem;
  margin: 4rem 1rem;
  border: 0.4rem solid var(--accent);
  border-radius: 15%;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  position: relative;
}
header:before {
  position: absolute;
  content: '';
  bottom: -0.59rem;
  left: -0.59rem;
  border-top: 3rem solid var(--accent);
  border-right: 3rem solid var(--accent);
  border-bottom: 3rem solid #ffe7a9;
  border-left: 3rem solid #ffe7a9;
  border-radius: 10px;
}
header:after {
  position: absolute;
  content: '';
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g transform="translate(5 5) scale(0.9 0.9)"><path d="M 0 100 a 100 100 0 0 0 100 -100" fill="none" stroke="%23220505" stroke-width="10" stroke-linecap="round" stroke-dasharray="20" /></g></svg>');
  bottom: -1.5rem;
  right: -1.5rem;
  width: 50px;
  height: 50px;
}
header h1 {
  font-weight: 300;
  font-size: 2.75rem;
}
header a {
  align-self: flex-end;
  margin: 1rem 0;
  color: inherit;
  font-size: 0.9rem;
}


section{
  margin: 1rem 0;
  width: 90vw;
  max-width: 700px;
  background: #fff;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 2px 5px -4px currentColor;
}
section h2 {
  font-weight: 300;
  padding: 0.5rem 0;
  font-size: 1.9rem;
}
section p {
  margin: 0.25rem 0 1.25rem;
}

#tooltip {
  position: absolute;
  pointer-events: none;
  opacity: 0;
  transition: all 0.2s ease-out;
  background: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  line-height: 2;
  box-shadow: 0 1px 5px -3px currentColor;
}