// import font(s)
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

// detail root variable(s)
$font: "Open Sans", sans-serif;
$color-theme: hsl(188, 100%, 90%);
$color-text: hsl(240, 57%, 15%);
$color-container: hsl(188, 100%, 100%);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: $font;
  color: $color-text;
  background: $color-theme;
}
.container {
  max-width: 400px;
  margin: 1rem auto;
  width: 90vw;
  background: $color-container;
  box-shadow: 0 1px 5px darken($color-theme, 25%);
  padding: 0.5rem 1rem;

  h1 {
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  p {
    line-height: 2;
  }

  .details {
    font-size: 0.8rem;
    display: flex;
    align-items: center;

    svg {
      margin-left: 0.5rem;
    }
  }
  #tooltip {
    background: $color-container;
    padding: 0.8rem 1rem;
    box-shadow: 0 0 0 2px darken($color-theme, 30%);
    line-height: 2;
    transition: all 0.2s ease-out;
  }
}
