.Board {
  /* for the board create a grid of 9 squares, in three columns and rows */
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 2px;
  margin: 1rem 0 2rem;
}
