.Square {
  font-family: var(--font-mono);
  font-size: 3rem;
  font-weight: 900;
  border: 3px solid var(--color-bg);
  background: var(--color-text);
  color: var(--color-bg);
  opacity: 0.9;

  /* transition for the hover and active states */
  transition: all 0.2s ease-out;
}
/* on hover slightly increase the size of the square */
.Square:hover {
  opacity: 1;
  transform: scale(1.05);
}
/* when active decrease the size of the square */
.Square:active {
  opacity: 1;
  transform: scale(0.9);
}
