@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro')

font-text = 'Source Sans Pro', sans-serif
color-card = #fff
color-text = #555
color-bg = #F4511E

*
    box-sizing border-box
    margin 0
    padding 0

body
    width 100%
    font-family font-text
    color color-text
    background color-bg

.container .viz
    // have each visualization take a section of the vertical space, centered and capped in width
    width 90vw
    max-width 500px
    background color-card
    box-shadow 0 1px 5px color-card
    padding 2rem 1rem
    margin 2rem auto
