@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #555;
  background: #f4511e;
}
.container .viz {
  width: 90vw;
  max-width: 500px;
  background: #fff;
  -webkit-box-shadow: 0 1px 5px #fff;
          box-shadow: 0 1px 5px #fff;
  padding: 2rem 1rem;
  margin: 2rem auto;
}
