@import url("https://fonts.googleapis.com/css?family=Lato:400,700");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: "Lato", sans-serif;
  color: #fff;
  background: #006400;
}
.player {
  max-width: 400px;
  width: 90vw;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: #267b26;
  position: relative;
}
.player .player__vinyl {
  margin: 1rem;
  width: calc(10rem + 2.5vw);
  height: calc(10rem + 2.5vw);
  border-radius: 50%;
  background: linear-gradient(
      to bottom right,
      transparent,
      rgba(255, 255, 255, 0.4),
      transparent
    ),
    url("https://d33wubrfki0l68.cloudfront.net/cce87b74a290f321f582cb56a12007343ff2d77e/bb9e6/img/glyph.png"),
    repeating-radial-gradient(#006400 0, #006400 3px, #007e00 4px);
  background-repeat: no-repeat;
  background-size: 100%, 50%, 100%;
  background-position: 0%, 50% 50%, 100%;
  box-shadow: 0 1px 5px rgba(0, 100, 0, 0.7);
}
.player .player__episode {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.player .player__episode .episode--progress {
  width: 60%;
  height: 10px;
  border-radius: 4px;
  background: linear-gradient(to right, #006400, #006400 0%, #fff 0%);
  margin-bottom: 2rem;
}
.player .player__episode .episode--controls {
  display: grid;
  justify-items: center;
  grid-gap: 1.5rem 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.player .player__episode .episode--controls button {
  width: 48px;
  height: 48px;
  background: none;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  border: 1.2px solid rgba(255, 255, 255, 0.7);
  transition: all 0.2s ease-out;
}
.player .player__episode .episode--controls button:hover {
  background: rgba(255, 255, 255, 0.15);
}
.player .player__episode .episode--controls button:nth-of-type(1) {
  grid-column: 1/-1;
  width: 56px;
  height: 56px;
}
.player .player__episode .episode--controls button.controls--speed:after {
  content: "x";
  font-size: 1.05rem;
  font-family: inherit;
}
.player .player__episode .episode--controls button svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.player .player__episode .episode--timing {
  margin: 1rem 0 2rem;
}
.player .player__episode .episode--title {
  text-shadow: 0 2px 3px rgba(0, 126, 0, 0.8);
  padding: 0 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}
.player .player__episode .episode--more {
  align-self: flex-end;
  margin-right: 0.75rem;
  width: 42px;
  height: 42px;
  border: 1.2px solid rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  background: none;
  color: #fff;
  padding: 0.6rem;
  transition: all 0.2s ease-out;
  font-family: inherit;
}
.player .player__episode .episode--more:hover {
  background: rgba(255, 255, 255, 0.15);
}
.player .player__episode .episode--more svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.player .player__more {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 2.5px solid rgba(255, 255, 255, 0.4);
  transition: all 0.3s ease-out;
}
.player .player__more.hidden {
  height: 0;
  opacity: 0;
  visibility: none;
}
.player .player__more .more--episodes {
  overflow-y: auto;
  height: 100%;
}
.player .player__more .more--episodes::-webkit-scrollbar {
  width: 0.2rem;
}
.player .player__more .more--episodes::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0.5rem #040;
}
.player .player__more .more--episodes::-webkit-scrollbar-thumb {
  border-radius: 0.8rem;
  background-color: #fff;
  outline: 0.08rem solid #fff;
}
.player .player__more .more--episodes .episodes--episode {
  display: flex;
  align-items: center;
  padding: 1.25rem 1rem;
  background: #267b26;
  border-top: 2px solid rgba(255, 255, 255, 0.4);
}
.player .player__more .more--episodes .episodes--episode:nth-child(1) {
  border-top: none;
}
.player .player__more .more--episodes .episodes--episode h3 {
  width: 0;
  flex-grow: 1;
  font-weight: 900;
  font-size: 1rem;
  margin-right: 0.75rem;
}
.player .player__more .more--episodes .episodes--episode button {
  width: 40px;
  height: 40px;
  border: 1.2px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background: none;
  color: #fff;
  padding: 0.6rem;
  transition: all 0.2s ease-out;
}
.player .player__more .more--episodes .episodes--episode button:hover {
  background: rgba(255, 255, 255, 0.15);
}
.player .player__more .more--episodes .episodes--episode button svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.player .player__more .more--close {
  padding: 0.75rem 0;
  background: #040;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  font-family: inherit;
  transition: all 0.2s ease-out;
}
.player .player__more .more--close:hover {
  color: rgba(255, 255, 255, 0.9);
}
.app__tooltip {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  padding: 0.4rem 0.6rem;
  line-height: 2;
  background: #006400;
  box-shadow: 0 1px 5px -1px #007e00;
  border-radius: 5px;
  color: #fff;
}
