// using font and color from the fcc style guide
// https://design-style-guide.freecodecamp.org/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700')
font = "Lato", sans-serif
white = #fff
// ! in javascript green would refer to the CSS hex color, not the pre-processed value
green-l = #267B26
green = #007e00
green-d = #006400
green-dd = #004400

*
    box-sizing border-box
    margin 0
    padding 0

body
    width 100%
    font-family font
    color white
    background green-d

// cap the width of the container and display the content in a single column
// horizontally centered
.player
    max-width 400px
    width 90vw
    margin 1rem auto
    display flex
    justify-content center
    flex-direction column
    align-items center
    padding 1rem
    // thin white layer to separate the player from the body
    background green-l
    // position relative for the panel containing more episodes
    position relative

    // vinyl created out of a rounded div with a repeating-radial-gradient
    .player__vinyl
        margin 1rem
        width calc(10rem + 2.5vw)
        height @width
        border-radius 50%
        // above the repeating-radial-gradient add the image of the freeCodeCamp logo and a linear gradient to give a small glow/shadow
        background linear-gradient(to bottom right, transparent, rgba(white, 0.4), transparent), url('https://d33wubrfki0l68.cloudfront.net/cce87b74a290f321f582cb56a12007343ff2d77e/bb9e6/img/glyph.png'), repeating-radial-gradient(green-d 0, green-d 3px, green 4px)
        background-repeat no-repeat
        // center the second backgrond value (the image)
        background-size 100%, 50%, 100%
        background-position 0%, 50% 50%, 100%
        box-shadow 0 1px 5px rgba(green-d, 0.7)

    // repeat the single column theme for the container nesting the episode
    .player__episode
        padding 1rem 0
        display flex
        flex-direction column
        align-items center
        width 100%

        // the progress bar is made of a simple div with a gradient depicting the current progress through hard stop values
        .episode--progress
            width 60%
            height 10px
            border-radius 4px
            background linear-gradient(to right, green-d, green-d 0%, white 0%)
            margin-bottom 2rem

        // display the buttons in a grid
        // the first one encompassing the entirety of the width
        // the remaining sharing a fraction of the horizontal space
        .episode--controls
            display grid
            justify-items center
            grid-gap 1.5rem 2rem
            grid-template-columns 1fr 1fr 1fr
            // style the button to have the SVG encapsulated in a thin boreded circle
            button
                width 48px
                height @width
                background none
                padding 0.5rem
                border-radius 50%
                color white
                border 1.2px solid rgba(white, 0.7)
                transition all 0.2s ease-out
                &:hover
                    background rgba(white, 0.15)
                // increase the size of the first button
                // ! stretch it to cover the entire row
                &:nth-of-type(1)
                    grid-column 1/-1
                    width 56px
                    height 56px
                // for the speed button add an x after the number
                &.controls--speed:after
                    content 'x'
                    font-size 1.05rem
                    font-family inherit

                svg
                    width 100%
                    height @width
                    pointer-events none

        .episode--timing
            margin 1rem 0 2rem

        .episode--title
            text-shadow 0 2px 3px rgba(green, 0.8)
            padding 0 1rem
            font-size 1.5rem
            font-weight 500
            margin-bottom 0.5rem


        .episode--more
            // position the button used to select other episodes to the right of the player
            align-self flex-end
            margin-right 0.75rem
            width 42px
            height @width
            border 1.2px solid rgba(white, 0.4)
            border-radius 50%
            background none
            color white
            padding 0.6rem
            transition all 0.2s ease-out
            font-family inherit

            &:hover
                background rgba(white, 0.15)

            svg
                width 100%
                height 100%
                pointer-events none


    // position the panel with more episodes at the bottom the application
    // at the bottom and stretching to cover x% of the height
    .player__more
        position absolute
        bottom 0
        left 0
        width 100%
        height 70%
        // position the content in a column, pushed at the bottom
        display flex
        flex-direction column
        justify-content flex-end
        border-top 2.5px solid rgba(white, 0.4)
        transition all 0.3s ease-out
        // toggle the panel through a .hidden class (applied by default)
        &.hidden
            height 0
            opacity 0
            visibility none

        // ! overflow-y auto to allow for the content to be contained in the container
        .more--episodes
            overflow-y auto
            height 100%
            // properties to style the scrollbar
            &::-webkit-scrollbar
                width 0.2rem

            &::-webkit-scrollbar-track
                -webkit-box-shadow inset 0 0 0.5rem green-dd

            &::-webkit-scrollbar-thumb
                border-radius 0.8rem
                background-color white
                outline 0.08rem solid white

            // display the content of each episode in a simple row
            .episodes--episode
                display flex
                align-items center
                padding 1.25rem 1rem
                background green-l
                border-top 2px solid rgba(white, 0.4)
                // for the first episode remove the (otherwise redundant) border
                &:nth-child(1)
                    border-top none
                h3
                    // width 0 combined with flex grow to maintain a consistent width
                    width 0
                    flex-grow 1
                    font-weight 900
                    font-size 1rem
                    margin-right 0.75rem
                // style of the button matching the design of the previous elements
                // TODO: mixin/extent or simply a global style for buttons
                button
                    width 40px
                    height @width
                    border 1.2px solid rgba(white, 0.7)
                    border-radius 50%
                    background none
                    color white
                    padding 0.6rem
                    transition all 0.2s ease-out
                    &:hover
                        background rgba(white, 0.15)
                    svg
                        width 100%
                        height 100%
                        pointer-events none

        // buttons closing the panel
        // simply centered text, slightly translucent on hover
        .more--close
            padding 0.75rem 0
            background green-dd
            border none
            color white
            font-size 1.1rem
            font-family inherit
            transition all 0.2s ease-out

            &:hover
                color rgba(white, 0.9)


// style the tooltip to be hidden by default and absolute positioned
.app__tooltip
    position absolute
    opacity 0
    pointer-events none
    padding 0.4rem 0.6rem
    line-height 2
    background green-d
    box-shadow 0 1px 5px -1px green
    border-radius 5px
    color white
