/* center the page's contents in a single column layout (horizontally centered) */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 5vw;
}
/* include through a pseudo element an arrow pointing downward, toward the navigation bar */
.App h1 {
  font-size: calc(5rem + 1vw);
  font-family: 'Oswald', sans-serif;
  position: relative;
}
.App h1:before {
  content: '';
  position: absolute;
  bottom: -1.5rem;
  left: calc(50% - 1rem);
  border-top: 1rem solid #fff;
  border-right: 1rem solid transparent;
  border-left: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  /* animate the arrow to decidedly point downward */
  animation: pointDown 5s 1s ease-out infinite;
}

/* give a default width and height for the components rendered below the navbar (these are divs) */
.Home, .Park, .Beach {
  width: 200px;
  height: 200px;
  /* include a frame starting from the edge of the container and moving outwards
  border would move inwards changing the contents' layout */
  box-shadow: 0px 0px 0 12px #2F4C12;
  margin: 5vh 0;
}

/*through different applications of linear and radial gradient, draw simple scenery for the different components: 
a house, a tree, a beach */
.Home {
  background: 
    linear-gradient(#fff, #fff) 50% 100% / 50% 10%,
    linear-gradient(#fff, #fff) 25% 100% / 25px 110px,
    linear-gradient(#fff, #fff) 75% 100% / 25px 110px,
    linear-gradient(45deg, #fff, #fff 50%, transparent 50%) 100% 0% / 100px 100px,
    linear-gradient(-45deg, #fff, #fff 50%, transparent 50%) 0% 0% / 100px 100px;
  background-repeat: no-repeat;
}
.Park {
  background: 
    linear-gradient(#fff, #fff) 50% 100% / 15% 70%,
    radial-gradient(35% 35% at 40% 40%, #fff, #fff 50%, transparent 51%),
    radial-gradient(35% 35% at 52% 30%, #fff, #fff 50%, transparent 51%),
    radial-gradient(40% 40% at 65% 50%, #fff, #fff 50%, transparent 51%);
  background-repeat: no-repeat;

}
.Beach {
  background: 
  radial-gradient(25% 25% at 75% 20%, #fff, #fff 50%, transparent 51%),
  radial-gradient(40% 40% at 75% 20%, hsla(0, 0%, 100%, 0.2), hsla(0, 0%, 100%, 0.2) 50%, transparent 51%),
  radial-gradient(120% 55% at 10% 100%, #fff, #fff 50%, transparent 51%),
  radial-gradient(130% 45% at 35% 105%, #fff, #fff 50%, transparent 51%);
  background-repeat: no-repeat;
}

/* define the animation for the arrow pointing downward */
@keyframes pointDown {
  10% {
    bottom: -2rem;
  }
  20% {
    bottom: -1.5rem;
  }
}

/* on smaller screens move the arrow once again below the header (which is not aligned to center for stylistic choices) */
@media (max-width: 500px) {
  .App h1:before {
    left: 20%;
  }
}