@import url('https://fonts.googleapis.com/css?family=Lato')

font-txt = 'Lato', sans-serif
color-txt = #fff
color-bg = #111

*
    box-sizing border-box
    margin 0
    padding 0
  
body
    min-height 100vh
    width 100%
    font-family font-txt
    color color-txt
    background color-bg    

