@import url("https://fonts.googleapis.com/css?family=Orbitron:700|Lato");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Orbitron', sans-serif;
  color: #f0f0f0;
  background: #0f0f0f;
}
.container {
  width: 90vw;
  max-width: 1000px;
  margin: 1.5rem auto;
  padding: 1rem;
  border-radius: 20px;
  background: #202020;
  box-shadow: 0 2px 15px rgba(77,77,77,0.5);
  animation: rollUp 0.5s 0.5s cubic-bezier(0.22, -0.3, 0.68, 2) both;
}
.container header {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}
.container header h2 {
  letter-spacing: 0.1rem;
  font-size: calc(1rem + 1.25vw);
  text-transform: uppercase;
}
.container svg g,
.container svg text {
  fill: #f0f0f0;
}
.container svg text {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
}
.container svg path {
  animation: drawIn 3.5s 1.5s ease-in forwards;
}
@media (min-width: 1200px) {
  .container header h2 {
    font-size: 2rem;
  }
}
@media (max-width: 800px) {
  .container header {
    flex-direction: column;
  }
}
/*
define the animations to 
1. introduce the container 
1. draw the SVG path elements 
*/
@-moz-keyframes rollUp {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    tranform: translateY(0);
  }
}
@-webkit-keyframes rollUp {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    tranform: translateY(0);
  }
}
@-o-keyframes rollUp {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    tranform: translateY(0);
  }
}
@keyframes rollUp {
  0% {
    opacity: 0;
    transform: translateY(15vh);
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    tranform: translateY(0);
  }
}
@-moz-keyframes drawIn {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes drawIn {
  to {
    stroke-dashoffset: 0;
  }
}
@-o-keyframes drawIn {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes drawIn {
  to {
    stroke-dashoffset: 0;
  }
}
