// import font(s)
@import url("https://fonts.googleapis.com/css?family=Lora|Lato");

// detail root variable(s)
$font-app: "Lato", sans-serif;
$font-question: "Lora", serif;
$color-text: #252a37;
$color-bg: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: $font-app;
  color: $color-text;
  background-color: $color-bg;
}
// cap the width of the application and center it horizontally
.app {
  max-width: 400px;
  width: 85vw;
  margin: 1rem auto 0;
}
// display the elements of teh widget one atop the other
.app__question {
  font-family: $font-question;
  padding: 1rem 2rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px 1px rgba(darken($color-bg, 25%), 0.8);

  .question--counter {
    text-align: center;
    font-family: $font-app;
    padding: 0.5rem 0;
    border-bottom: 0.2rem solid $color-text;
  }
  .question--query {
    text-align: center;
    margin: 1rem 0 1.5rem;
    font-weight: 300;
    font-size: 1.4rem;
  }
  .question--answers {
    line-height: 4;
    list-style: none;
    font-size: 1.2rem;
    counter-reset: special-counter;

    li {
      margin-left: 2rem;
      // border: 1px solid tomato;
      padding-left: 1.5rem;
      counter-increment: special-counter;
      position: relative;
      cursor: pointer;

      &:before {
        content: counter(special-counter);
        position: absolute;
        right: 100%;
        top: 50%;
        background: $color-text;
        color: $color-bg;
        border-radius: 50%;
        width: 2.5rem;
        height: 2.5rem;
        text-align: center;
        line-height: 2.5rem;
        transform: translateY(-50%);
        opacity: 0.7;
        transition: opacity 0.2s ease-out;
      }
      &:hover:before {
        opacity: 1;
      }
    }
  }
}

.app__answer {
  font-family: $font-question;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 1px 5px 1px rgba(darken($color-bg, 25%), 0.8);
  transition: transform 0.2s ease-out;

  &.hidden {
    transform: scale(0);
    transition-delay: 0.05s;
  }

  h2 {
    text-align: center;
    margin: 0.5rem 0;
  }
  p {
    line-height: 2;
  }
}
