@import url('https://fonts.googleapis.com/css?family=Ubuntu')

font-text = 'Ubuntu', sans-serif
color-text = #70768B
color-line = #5979FF
color-bg = #FCFCFD

*
    box-sizing border-box
    margin 0
    padding 0

body
    min-height 100vh
    width 100%
    font-family font-text
    color color-text
    background color-bg

.container
    max-width 1000px
    width 90vw
    margin 2rem auto 0
    border-radius 5px
    box-shadow 0 1px 5px 5px rgba(color-bg, 1), 0 1px 5px 5px rgba(color-line, 0.5)
    // include a simple band in the top left corner through a pseudo element
    position relative
    overflow hidden
    &:before
        position absolute
        content ''
        top 0
        left 0
        width 100px
        height 20px
        background color-line
        transform translate(-25px, 10px) rotate(-45deg)