@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* include a repeated linear gradient sort of matching the car theme */
  background: repeating-linear-gradient(-45deg, #1A1A1A09 0px, #1A1A1A09 8px, #fff 8px, #fff 16px), #fff;
  background-repeat: no-repeat;
  /* center in the viewport */
  min-height: 100vh;
  display: grid;
  place-items: center;
  font-family: 'Open Sans', sans-serif;
}
/* cap the width of the container */
main {
  max-width: 600px;
  width: 90vw;
  /* background showing for the button, as the image occupies the first portion of the container */
  background: #1A1A1A;
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 15px #1A1A1A66;
  /* display the figure and button element in a flex column */
  display: flex;
  flex-direction: column;

  margin: 2rem 0;
  /* whitespace to distance the elements from the edges of the container
  ! for the figure element is is necessary to offset this measure as to have the image stretch to cover the entire width
  */
  padding: 1rem 1.25rem;
}
/* position relative to have the SVG absolute positioned in its center */
main figure {
  position: relative;
  margin: -1rem -1.25rem;
}
/* image matching the radius of the container for the top corners */
main figure img {
  border-radius: 10px 10px 0 0;
  width: 100%;
  /* saturate the image, but edcrease the brightness to slightly offset the change in color */
  filter: saturate(180%) brightness(0.8);
}
/* absolute position the question-mark svg in the center of the figure element */
main figure svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  color: #fff;
  /* include a semi transparent background */
  background: #1A1A1A55;
  border-radius: 20px;
}
/* include noticeable whitespace around the button as to highlight the background color of the container */
main > button {
  margin: 3rem 0.25rem 1rem;
  /* horizontally centered */
  align-self: center;
  color: #fff;
  background: #D31411;
  padding: 1rem 4.25rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  font-family: inherit;
  transition: transform 0.2s cubic-bezier(0.34,.86,0.58,1.27);
}
/* on hover noticeably scale the button up */
main > button:hover {
  transform: scale(1.15);
}




/* style specific to the second component */

/* increase the weight of the question ever so slightly */
main p {
  line-height: 1.5;
  font-weight: 600;
}

/* display the buttons atop one another */
main .answers {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
/* buttons stretching to cover the entirety of the container's width (per the default value of the align-items property, stretch)
text aligned to the left and on a semi-transparent white background
*/
main .answers button {
  text-align: left;
  color: inherit;
  background: rgba(255, 255, 255, 0.25);
  padding: 0.75rem 1rem;
  margin: 0.2rem 0;
  border: none;
  border-radius: 2px;
  font-family: inherit;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  transition: all 0.1s ease-out;
  /* position relative for the span elements */
  position: relative;
}
/* on hover slightly scale up the button and change its background color
! hover state removed once a button is selected
*/
main .answers button:hover {
  transform: scale(1.02);
  background: #D31411;
}

/* with a class of correct change the background to a green color
! include a linear gradient atop the green color to highlight the percentage of fans selecting the option
*/
main .answers button.correct {
  background: linear-gradient(to right, transparent 70%, rgba(0, 0, 0, 0.2) 70%), #5BC20F;
}

/* with a class of selected add a small left border
*/
main .answers button.selected {
  border-left: 4px solid #D31411;
  /* remove the border-radius on the left side to have the border as a roundless rectangle */
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* include also an overlay for the first button with the same logic used for the correct answer (this gradient is to be shown only when an option is selected and **on every** option */
main .answers button:nth-child(1) {
  background: linear-gradient(to right, transparent 20%, rgba(0, 0, 0, 0.3) 20%), rgba(255, 255, 255, 0.25);
}

/* style the span to be included on the right side of the button as a white rounded rectangle */
main .answers button span {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(0%, -50%);
  background: #fff;
  color: #1A1A1A;
  border-radius: 30px;
  padding: 0.4rem 0.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* on every span but the one referring to the correct option add the percentage % sign */
main .answers button:not(.correct) span:after {
  content: '%';
}
/* size the icon to resemble the text of the other span elements */
main .answers button span svg {
  width: 25px;
  height: 15px;
}


/* display the heading and paragraph with the correct answer in a wrapping row */
main .result {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
/* size the icon prefacing th heading */
main .result svg {
  width: 42px;
  height: 42px;
  margin-right: 8px;
}
main .result h2 {
  /* switching between the correct and wrong option is a matter of updating the color
  the icons picks up the hue through currentColor
  */
  color: #5BC20F;
  color: #D31411;
  letter-spacing: 0.05rem;
  font-size: 1.8rem;
  /* have the heading occupy most of the available width */
  flex-grow: 1;
  /* vertically align the heading and paragraph */
  display: flex;
  align-items: center;
}
main .result h2:after {
  content: '!';
}
/* cap the width of the paragraph explaining the option */
main .result p {
  margin-top: 10px;
  max-width: 350px;
  line-height: 1.2;
  font-weight: initial;
}