/* lay the monitor, svg and button one on top of the other, center them horizontally */
.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

.AppButton {
    background: var(--color-monitor);
    box-shadow: 0 1px 5px var(--color-bg-d);
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    color: var(--color-text);
    padding: 0.75rem 1rem;
    /* font-weight: bold; */
    font-size: 1.1rem;
    /* animation to introduce the button after the monitor */
    animation: fadeDown 0.7s 0.7s cubic-bezier(.25,-0.3,.5,1.5) both;
}