.AppMonitor {
    /* cap the width of the monitor */
    max-width: 750px;
    width: 90vw;
    /* include the height relative to the width, but at least tall a sizeable measure */
    height: calc(90vw*0.4);
    min-height: 350px;

    /* display the heading and paragraphs in the center of the monitor, on top of each other */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* include whitespace around the elements */
    justify-content: space-around;
    text-align: center;
}