@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background: #333;
  background: url("data:image/svg+xml;utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' opacity='0.15' viewBox='0 0 60.854 42.333'%3E%3Cg stroke-linecap='round' paint-order='stroke fill markers' stroke='#ffdd40' fill='none'%3E%3Cpath d='M36.47 69.128c-1.5 1.105-5.036-2.183-6.887-1.976-1.851.207-4.572 4.195-6.28 3.45-1.706-.747-.626-5.453-1.731-6.952-1.105-1.5-5.92-1.863-6.127-3.714-.207-1.851 4.408-3.269 5.155-4.976.746-1.706-1.347-6.057.152-7.162 1.5-1.105 5.035 2.183 6.887 1.976 1.85-.208 4.572-4.196 6.279-3.45 1.707.747.627 5.453 1.732 6.952 1.105 1.5 5.92 1.863 6.127 3.714.207 1.851-4.409 3.269-5.155 4.976-.746 1.706 1.347 6.057-.153 7.162z' transform='scale(.5455 .52403) rotate(-15 -123.398 68.845)' stroke-width='2.947'/%3E%3Cpath d='M86.06 129.155c-1.87 2.265-8.37.042-11.296.321-2.925.279-8.889 3.688-11.154 1.817-2.265-1.871-.043-8.372-.321-11.297-.279-2.925-3.688-8.888-1.817-11.154 1.871-2.265 8.371-.042 11.297-.321 2.925-.279 8.888-3.688 11.154-1.817 2.265 1.871.042 8.372.32 11.297.28 2.925 3.69 8.888 1.818 11.154z' transform='matrix(.07953 .34183 -.35584 .0764 48.283 .935)' stroke-width='2.646'/%3E%3Cpath d='M50.849 189.782c-.862-.227-.783-2.195-1.347-2.885s-2.509-1.005-2.56-1.895c-.05-.89 1.846-1.423 2.328-2.173.483-.75.18-2.696 1.012-3.019.83-.323 1.923 1.315 2.785 1.542.862.227 2.62-.661 3.184.03.564.69-.656 2.235-.606 3.125.051.89 1.44 2.287.957 3.037-.482.75-2.33.067-3.16.39-.831.323-1.73 2.075-2.593 1.848z' stroke-width='1.641' transform='matrix(.8226 0 0 .79022 -3.17 -125.9)'/%3E%3Cpath transform='matrix(-.09705 -.33763 -.35147 .09323 81.868 20.6)' d='M86.06 129.155c-1.87 2.265-8.37.042-11.296.321-2.925.279-8.889 3.688-11.154 1.817-2.265-1.871-.043-8.372-.321-11.297-.279-2.925-3.688-8.888-1.817-11.154 1.871-2.265 8.371-.042 11.297-.321 2.925-.279 8.888-3.688 11.154-1.817 2.265 1.871.042 8.372.32 11.297.28 2.925 3.69 8.888 1.818 11.154z' stroke-width='2.646'/%3E%3Cpath d='M-56.736 185.014c-.862-.227-.783-2.195-1.347-2.885s-2.508-1.005-2.559-1.895c-.05-.89 1.845-1.423 2.328-2.173.482-.75.18-2.696 1.01-3.019.832-.323 1.924 1.315 2.787 1.542.862.227 2.62-.661 3.184.03.564.69-.657 2.235-.606 3.125.05.89 1.438 2.287.956 3.037s-2.329.067-3.16.39c-.83.323-1.73 2.075-2.593 1.848z' transform='matrix(.72608 -.37142 -.38664 -.6975 145.466 141.337)' stroke-width='1.852'/%3E%3Cpath d='M86.06 129.155c-2.325 2.815-10.44.829-14.042.222-3.6-.606-11.92-1.388-13.194-4.81-1.276-3.42 4.503-9.456 6.828-12.272 2.326-2.815 7.162-9.628 10.763-9.022 3.6.607 5.938 8.628 7.214 12.05 1.275 3.421 4.757 11.017 2.432 13.832z' transform='matrix(-.09705 -.33763 -.35147 .09323 72.255 38.832)' stroke-width='2.646'/%3E%3Cpath d='M86.06 129.155c-2.32 2.81-9.627-4.047-13.22-4.653-3.594-.605-12.744 3.48-14.016.066-1.273-3.415 8.318-6.315 10.64-9.124 2.32-2.81 3.357-12.776 6.95-12.17 3.594.604 1.31 10.36 2.582 13.775 1.273 3.415 9.386 9.296 7.065 12.106z' transform='scale(.36462 -.35027) rotate(8.099 1173.993 481.461)' stroke-width='2.646'/%3E%3Cpath transform='matrix(.36098 -.04935 -.05137 -.34677 31.14 77.105)' d='M86.06 129.155c-3.092 3.744-6.96-5.378-11.795-4.918-4.834.46-6.91 10.149-10.655 7.056-3.744-3.093 5.378-6.961 4.918-11.796-.46-4.834-10.149-6.91-7.056-10.655 3.093-3.744 6.961 5.378 11.795 4.918 4.835-.46 6.912-10.149 10.656-7.056 3.744 3.093-5.378 6.961-4.918 11.796.46 4.834 10.149 6.91 7.056 10.655z' stroke-width='2.646'/%3E%3C/g%3E%3C/svg%3E"), #333;
  background-size: 300px, 100%; }

main {
  margin: 1rem auto 0;
  max-width: 500px;
  width: 85vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap; }

form {
  margin-bottom: 1.5rem;
  display: flex;
  background: #ffffff;
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5); }
  form input {
    padding: 1.5rem 2.25rem;
    flex-grow: 1;
    background: none;
    border: none;
    font-family: inherit;
    color: inherit;
    font-size: 1.25rem; }
  form button {
    padding: 1rem;
    background: #333;
    color: #ffdd40;
    border: none;
    font-family: inherit;
    font-size: 1.25rem; }
    form button svg {
      width: 28px;
      height: 28px;
      transition: all 0.35s ease-out;
      transform: rotate(0) scale(0.9);
      fill: #ffdd40; }
    form button:hover svg {
      transform: rotate(1turn) scale(1.1); }

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  ul li {
    margin: 0.5rem 0;
    padding: 0.25rem 0.75rem;
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    transition: all 0.2s ease-out; }
    ul li:hover {
      background: #f2f2f2;
      box-shadow: 0 1px 15px rgba(255, 221, 64, 0.5); }
    ul li svg {
      margin-left: 0.25rem;
      width: 15px;
      height: 15px;
      pointer-events: none;
      fill: #333;
      transition: all 0.2s ease-out; }
