<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title Stylus Simple Loader
    meta(name="description", content="Tinker with stylus and CSS animation to create a simple loading animation.")
  body
    - var text = 'loading'
    .field
      each letter in text
        .particle= letter