/* google font(s) */
@import url("https://fonts.googleapis.com/css?family=Lato|Montserrat:500,900");

/* root variables */
:root {
  --font: "Lato", sans-serif;
  --font-heading: "Montserrat", sans-serif;
  --text: #ffffff;
  --text-t: #ffffff77;
  --theme-l: #48e5d6;
  --theme-d: #040a25;
  --theme-dt: #040a25aa;
  --theme-dd: #01040f;
  --accent: #5509bb;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font);
  color: var(--text);
  background: var(--theme-d);
}
h1,
h2,
h3 {
  font-family: var(--font-heading);
}
