// import font(s)
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Sans:600");

// detail root variable(s)
$font: "Open Sans", sans-serif;
$color-bg: #fff;
$color-container: #fff;
$color-text: #333;
$color-accent: #fb5100;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: $font;
  color: $color-text;
  background: $color-bg;
}
// cap the container's width and center it horizontally
.container {
  max-width: 600px;
  width: 90vw;
  margin: 1rem auto 0;
  padding: 1rem;
  line-height: 1.5;
  background: $color-container;
  border-top: 4px solid $color-accent;
  box-shadow: 0 1px 0 1px rgba($color-text, 0.3);

  // center the message of the visualization
  .message {
    text-align: center;
    p {
      margin: 0.5rem 0 1rem;
    }

    h4 {
      background: $color-accent;
      padding: 0.3rem 0.6rem;
      color: $color-bg;
      font-weight: bold;
      display: inline-block;
      margin: 0.7rem 0 1rem;
    }
  }

  // describe the tooltip as an absolute positioned element
  // hidden by default, and without pointer events
  #tooltip {
    text-align: initial;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    background: $color-container;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 1px 5px rgba($color-text, 0.5);

    p:nth-of-type(1) {
      margin: 0.5rem 0;
    }
  }
}
