/* define a variable for the delay in the transition, as to update it later for each menu section and introduce them in sequence */
:root {
  --transition-delay: 0.25s;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
}
/* with flex properties push the menu to the bottom of the page */
.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
/* expand the SVG menu to cover half of the viewport width horizontally and half of that measure vertically (maintaining the aspect ratio of the SVG, given by the viewbox) */
.container svg {
  width: 50vw;
  height: 25vw;
}
/* make the SVG section evidently click-able */
#toggle-menu {
  cursor: pointer;
}
/* 
set a transition for the vertical rectangle of the plus sign (as to evidently show when the menu is toggled)
alter its vertical position and opacity as to show only the horizontal rectangle, to close the menu 
*/
#toggle-menu #vertical-rectangle {
  transition: all 0.2s ease-in-out;
}
/* for the menu sections, set the origin of the transformation to the bottom center of the SVG
as you modify the scale from this point, the sections seemingly appear/disappear out of/into the toggle "button"
set transition as to smoothen the change in scale 
set the transition delay to the CSS variable (which is updated for the different sections)  */
.menu {
  transform-origin: bottom center;
  transform: scale(0);
  transition: all 0.3s cubic-bezier(0.3, 0.3, 0.5, 1.2);
  transition-delay: var(--transition-delay);
}
/* update delay for the different sections */
.menu:nth-of-type(2) {
  --transition-delay: 0.2s;
}
.menu:nth-of-type(3) {
  --transition-delay: 0.15s;
}
.menu:nth-of-type(4) {
  --transition-delay: 0.1s;
}
.menu:nth-of-type(5) {
  --transition-delay: 0.05s;
}

/* declare a class for the active menu sections, in which the scale of each section is 1 (transitioned from 0)
this class is toggled in the JS script */
.menu--active {
  transform: scale(1);
}
/* declare a class for the vertical rectangle, in which its position and opacity is modified, to make it "disappear"
this class is toggled in the JS script */
.menu--close {
  transform: translateY(-10px);
  opacity: 0;
}

/* for smaller sreen sizes increase the size of the menu (as here 50% of the viewport would be too little) */
@media only screen and (max-width: 800px) {
  .container svg {
    width: 80vw;
    height: 40vw;
  }
}

