/* within the CardGrid component, display the nested divs in a grid layout */
.CardGrid {
  /* width 100% to deliberately stretch the container across the entire viewport */
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 240px);
  grid-auto-rows: 320px;
  /* include a notable gap to avoid overlapping divs, when rotated */
  grid-gap: 40px;
  /* center the grid and distance it from the top and the bottom by a small measure */
  justify-content: center;
  margin: 5vh 0;
  /* push the contents of the container to avoid the div from stretching past the viewport */
  padding: 0 5vw;
}

/* 
style each card to resemble an actual card
rotate all cards 
 */
.CardGrid .Card {
  border-radius: 2px;
  border: 2px solid hsl(56, 82%, 57%);
  background: radial-gradient(circle at 50% 50%, #214261 0, #214261 7%, #fff 7.5%, #fff 18%, #214261 18%, #214261 20%, #fff 21%), #fff;
  transform: rotate(7deg); 
  transition: transform 0.3s ease-out;
}
/* rotate different cards (odds, each third, each fourth) by a different measure */
.CardGrid .Card:nth-last-of-type(2n) {
  transform: rotate(5deg);
}
.CardGrid .Card:nth-last-of-type(3n) {
  transform: rotate(-4deg);
}
.CardGrid .Card:nth-last-of-type(4n) {
  transform: rotate(2deg);
}
.CardGrid .Card:nth-last-of-type(6n) {
  transform: rotate(-2deg);
}
.CardGrid .Card img {
  width: 100%;
  height: 100%;
}
.CardGrid .Card:hover {
  transform: scale(1.1) rotate(0);
}