.Header {
  /* align the container and separate it from the surrounding elements, on top and at the bottom */
  text-transform: capitalize;
  text-align: center;
  margin: 5vh 0;
}
/* size the header of the elements to be boldly displayed on the page */
.Header h1{
  font-size: calc(4rem + 2vw);
}
.Header h3{
  font-size: calc(2rem + 1vw);
  color: var(--color-accent);
  font-weight: bold;
}