@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
/* include the selected font and colors */
:root {
  --font: 'Ubuntu', sans-serif;
  --color-txt: #FFFFFF;
  --color-bg: #09042E;
  --color-accent: #C71621;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font);
  color: var(--color-txt);
  background: var(--color-bg);
}