@import url("https://fonts.googleapis.com/css?family=Lato");
:root {
  --font-text: 'Lato', sans-serif;
  --color-text: #252525;
  --color-background: #f0f0f0;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-text);
  color: var(--color-text);
  background: var(--color-background);
}
