@import url("https://fonts.googleapis.com/css?family=Ubuntu|Nova+Mono");
/* define the fonts and colors used in the project
- Nova Mono for the timer 
- Ubuntu for the input's text

- #ECECEC for the application background
- #324252 for the application theme (color and body's background)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Ubuntu', sans-serif;
  color: #324252;
  background: -webkit-gradient(linear, left top, right top, from(#324252), color-stop(#192129), to(#324252));
  background: linear-gradient(to right, #324252, #192129, #324252);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5vh 0;
}
.app {
  max-width: 800px;
  width: 90vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  background: #ececec;
  padding: 5vh 0;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 4px #ececec;
          box-shadow: 0 0 4px #ececec;
}
.app__visuals {
  grid-column: span 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app__visuals .visuals--hourglass {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0 5px #ececec, 0 0 0 10px #324252;
          box-shadow: 0 0 0 5px #ececec, 0 0 0 10px #324252;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(100%, #324252), to(transparent));
  background: linear-gradient(to top, #324252 100%, transparent 100%);
  margin: 2rem 0;
}
.app__visuals .visuals--timer {
  font-size: calc(3rem + 1vw);
  font-family: 'Nova Mono', monospace;
}
.app__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.app__controls .controls--btn {
  width: 4.25rem;
  height: 4.25rem;
  border-radius: 50%;
  background: inherit;
  -webkit-box-shadow: 0 0 0 1px #ececec, 0 0 0 3px #324252;
          box-shadow: 0 0 0 1px #ececec, 0 0 0 3px #324252;
  border: none;
  outline: none;
  color: #324252;
  -webkit-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.app__controls .controls--btn:hover,
.app__controls .controls--btn:focus {
  -webkit-box-shadow: 0 0 0 2px #ececec, 0 0 0 7px #324252;
          box-shadow: 0 0 0 2px #ececec, 0 0 0 7px #324252;
}
.app__controls .controls--btn:active {
  background: #324252;
  color: #ececec;
  -webkit-transform: scaleX(1.2) scaleY(1.08);
          transform: scaleX(1.2) scaleY(1.08);
}
.app__controls .controls--btn svg {
  width: 80%;
  height: 80%;
  fill: currentColor;
}
.app__inputs {
  grid-column: span 3;
  margin: 20vh 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 1rem;
  border-top: 3px solid #4f6881;
}
.app__inputs .inputs--session {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0;
}
.app__inputs .inputs--session label {
  font-size: 2rem;
  margin: 0 0.5rem;
}
.app__inputs .inputs--session .session--time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.app__inputs .inputs--session .session--time button {
  width: 2rem;
  height: 2rem;
  color: #4f6881;
  background: none;
  border: none;
}
.app__inputs .inputs--session .session--time button:nth-of-type(odd) {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.app__inputs .inputs--session .session--time button:nth-of-type(even) {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.app__inputs .inputs--session .session--time button svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.app__inputs .inputs--session .session--time button:hover svg,
.app__inputs .inputs--session .session--time button:focus svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #324252;
}
.app__inputs .inputs--session .session--time button:active svg {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  color: #324252;
}
.app__inputs .inputs--session .session--time input {
  width: 3rem;
  height: 2.25rem;
  background: none;
  border: none;
  color: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  font-family: inherit;
  text-align: center;
}
/*
for smaller viewports 
- have the app cover the entirety of the screen (to achieve this remove also the padding on the wrapping body)
- have the grid detail a single column
- have each section occupy the single column
- alter the margin to have the sections separated from one another, but vertically

- change the layout of the nested elements 
    the buttons in .app__controls ought to be in a row instead of a column (spreading the buttons apart from one another)
    the label and div responsible for the input in .input--session ought to be in a column, on top of one another
    the button and input elements in session--time ought to be in a row, one next to the other (alter the order property to have the increment button on the right and the decrement button on the left)
*/
@media (max-width: 600px) {
  body {
    padding: 0;
  }
  .app {
    width: 100vw;
    border-radius: 0;
    grid-template-columns: 1fr;
  }
  .app .app__visuals,
  .app .app__controls,
  .app .app__inputs {
    grid-column: span 1;
    margin: 0;
  }
  .app .app__visuals .visuals--hourglass {
    width: 175px;
    height: 175px;
  }
  .app .app__controls {
    margin: 10vh 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .app .app__controls .controls--btn {
    width: 3.75rem;
    height: 3.75rem;
  }
  .app .app__inputs {
    margin: 10vh;
    text-align: center;
  }
  .app .app__inputs .inputs--session {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
  }
  .app .app__inputs .inputs--session .session--time {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .app .app__inputs .inputs--session .session--time button:nth-of-type(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .app .app__inputs .inputs--session .session--time button:nth-of-type(2) {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}
