@import url('https://fonts.googleapis.com/css?family=Ubuntu:300')

// define the colors and font used in the project
font-text = 'Ubuntu', sans-serif
color-text = #192B37
color-background = #F4F4F4
r = rgba(red, 0.1)
w = rgba(#F4F4F4, 0.1)
b = rgba(blue, 0.1)

*
    box-sizing border-box
    margin 0
    padding 0
  
body
    width 100%
    min-height 100vh
    font-family font-text
    color color-text
    background color-background    
    // center the container horizontally
    display flex 
    justify-content center 
    margin 5vh 0 0
    background linear-gradient(45deg, r 33%, w 33%, w 67%, b 67%)
    background-repeat no-repeat

.container 
    // display the contents of the container in a single column 
    display flex
    flex-direction column 
    align-items center 

    p
        text-transform uppercase
        letter-spacing 0.2rem
        font-size 1.5rem

    #tooltip
        position absolute 
        opacity 0
        color color-background
        background color-text
        padding 0.8rem 1.2rem
        border-radius 10px
        pointer-events none
        box-shadow 0 0 0 3px color-background

    svg 
        margin-top 5vh
        width 90vw
        max-width 700px

        path, line 
            fill none 
            stroke color-text 
            stroke-width 2px

        text 
            fill color-text 
            font-family font-text
            font-size 1rem
        rect 
            fill color-text
