@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,500");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  min-height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  color: #192b37;
  background: #f4f4f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(45deg, rgba(255,0,0,0.1) 33%, rgba(244,244,244,0.1) 33%, rgba(244,244,244,0.1) 67%, rgba(0,0,255,0.1) 67%);
  background-repeat: no-repeat;
}
.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container p {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
}
.container #tooltip {
  position: absolute;
  opacity: 0;
  color: #f4f4f4;
  background: #192b37;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 0 3px #f4f4f4;
          box-shadow: 0 0 0 3px #f4f4f4;
  pointer-events: none;
}
.container svg {
  margin: 5vh 0;
  width: 90vw;
  max-width: 750px;
}
.container svg path,
.container svg line {
  fill: none;
  stroke: #192b37;
  stroke-width: 2px;
}
.container svg text {
  fill: #192b37;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}
.container svg rect {
  fill: #192b37;
}
