.FlowerBag {
    margin: 1rem;
    width: 180px;
    height: 240px;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(13, 1fr);
    animation: showSample 0.4s 3s cubic-bezier(0.22, 0, 0.68, 1.44) both;
  }
  .FlowerBag:nth-of-type(1) {
    animation-delay: 3.5s;
  }
  .FlowerBag:nth-of-type(2) {
    animation-delay: 4s;
  }
  .FlowerBag:nth-of-type(3) {
    animation-delay: 4.5s;
  }
  .FlowerBag span:nth-of-type(1) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(2) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(3) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(4) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(5) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(6) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(7) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(8) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(9) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(10) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(11) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(12) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(12) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(13) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(13) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(14) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(14) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(15) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(15) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(16) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(16) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(17) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(18) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(19) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(20) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(20) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(21) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(21) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(22) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(22) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(22) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(23) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(23) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(23) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(24) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(24) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(24) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(25) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(25) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(26) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(26) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(27) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(28) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(29) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(30) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(30) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(31) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(31) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(32) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(32) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(33) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(33) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(34) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(34) {
    background: #c71f16;
  }
  .FlowerBag span:nth-of-type(35) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(36) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(37) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(38) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(39) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(40) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(41) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(42) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(43) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(44) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(45) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(46) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(47) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(47) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(48) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(48) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(48) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(49) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(49) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(49) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(49) {
    background: #e8e230;
  }
  .FlowerBag span:nth-of-type(50) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(50) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(50) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(51) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(51) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(52) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(52) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(53) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(53) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(53) {
    background: #66a1ee;
  }
  .FlowerBag span:nth-of-type(54) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(55) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(56) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(56) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(57) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(57) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(58) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(58) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(58) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(59) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(59) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(60) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(60) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(61) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(61) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(61) {
    background: #66a1ee;
  }
  .FlowerBag span:nth-of-type(62) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(62) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(62) {
    background: #e8e230;
  }
  .FlowerBag span:nth-of-type(63) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(64) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(65) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(65) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(66) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(66) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(66) {
    background: #a866ee;
  }
  .FlowerBag span:nth-of-type(67) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(67) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(68) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(68) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(69) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(69) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(70) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(70) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(71) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(71) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(71) {
    background: #66a1ee;
  }
  .FlowerBag span:nth-of-type(72) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(73) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(74) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(74) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(74) {
    background: #a866ee;
  }
  .FlowerBag span:nth-of-type(75) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(75) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(75) {
    background: #a866ee;
  }
  .FlowerBag span:nth-of-type(75) {
    background: #e8e230;
  }
  .FlowerBag span:nth-of-type(76) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(76) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(76) {
    background: #a866ee;
  }
  .FlowerBag span:nth-of-type(77) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(77) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(78) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(78) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(79) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(79) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(80) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(80) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(81) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(82) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(83) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(83) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(84) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(84) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(84) {
    background: #a866ee;
  }
  .FlowerBag span:nth-of-type(85) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(85) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(86) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(86) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(87) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(87) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(88) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(88) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(88) {
    background: #ee6d66;
  }
  .FlowerBag span:nth-of-type(89) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(89) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(90) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(91) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(92) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(92) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(93) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(93) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(94) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(94) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(94) {
    background: #e8b730;
  }
  .FlowerBag span:nth-of-type(95) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(95) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(96) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(96) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(96) {
    background: #ee6d66;
  }
  .FlowerBag span:nth-of-type(97) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(97) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(97) {
    background: #ee6d66;
  }
  .FlowerBag span:nth-of-type(97) {
    background: #e8e230;
  }
  .FlowerBag span:nth-of-type(98) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(98) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(98) {
    background: #ee6d66;
  }
  .FlowerBag span:nth-of-type(99) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(100) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(101) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(101) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(102) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(102) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(102) {
    background: #e8b730;
  }
  .FlowerBag span:nth-of-type(103) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(103) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(103) {
    background: #e8b730;
  }
  .FlowerBag span:nth-of-type(103) {
    background: #e8e230;
  }
  .FlowerBag span:nth-of-type(104) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(104) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(104) {
    background: #e8b730;
  }
  .FlowerBag span:nth-of-type(105) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(105) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(106) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(106) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(106) {
    background: #ee6d66;
  }
  .FlowerBag span:nth-of-type(107) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(107) {
    background: #109121;
  }
  .FlowerBag span:nth-of-type(108) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(109) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(110) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(111) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(112) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(113) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(114) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(115) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(116) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(117) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(118) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(119) {
    background: #ddd;
  }
  .FlowerBag span:nth-of-type(120) {
    background: #ddd;
  }

  @-moz-keyframes showSample {
    0% {
      transform: scaleX(0) scaleY(0);
    }
    100% {
      transform: scaleX(100%) scaleY(100%);
    }
  }
  @-webkit-keyframes showSample {
    0% {
      transform: scaleX(0) scaleY(0);
    }
    100% {
      transform: scaleX(100%) scaleY(100%);
    }
  }
  @-o-keyframes showSample {
    0% {
      transform: scaleX(0) scaleY(0);
    }
    100% {
      transform: scaleX(100%) scaleY(100%);
    }
  }
  @keyframes showSample {
    0% {
      transform: scaleX(0) scaleY(0);
    }
    100% {
      transform: scaleX(100%) scaleY(100%);
    }
  }
  