@import url("https://fonts.googleapis.com/css?family=Open+Sans|Josefin+Sans:600");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background: #fff;
}

.container {
  max-width: 650px;
  width: 90vw;
  margin: 1rem auto;
  padding: 1rem;
  line-height: 1.5;
  background: #fff;
  border-top: 4px solid #fb5100;
  box-shadow: 0 1px 0 1px rgba(51, 51, 51, 0.3);
}

.visualization {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 2;
}
.visualization .message {
  text-align: center;
  max-width: 400px;
}
.visualization .detail {
  padding-left: 1rem;
  margin: 1rem 0;
}
.visualization svg {
  width: 80%;
}
.visualization svg .axis {
  opacity: 0.7;
}
.visualization svg .axis path,
.visualization svg .axis line {
  stroke: #333333;
  stroke-width: 1px;
  opacity: 0.7;
}
.visualization svg .axis text {
  font-family: inherit;
  fill: #333333;
  font-size: 1rem;
}

.connecting {
  margin: 0.5rem 0;
}

.intermittent {
  text-align: center;
}

h4 {
  color: #fff;
  background: #fb5100;
  padding: 0.3rem 0.6rem;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  display: inline-block;
  margin: 0.7rem 0 1rem;
}

.fork {
  display: flex;
  justify-content: center;
}
.fork .half {
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
  line-height: 2;
}
.fork .half svg {
  width: 100%;
  margin: 1rem 0;
}
.fork .half svg .axis path,
.fork .half svg .axis line {
  stroke: #333333;
  stroke-width: 2px;
  opacity: 0.7;
}
.fork .half svg .axis text {
  font-family: inherit;
  fill: #333333;
  font-size: 1.3rem;
}
.fork .half svg text {
  font-family: inherit;
  fill: #333333;
  font-size: 1.8rem;
}
.fork .half h3 {
  text-align: center;
}
.fork .half p {
  margin: 0.5rem 0;
  line-height: 2;
}

#tooltip {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  background: #fff;
  border-radius: 4px;
  padding: 1rem;
  text-align: initial;
  box-shadow: 0 1px 5px rgba(51, 51, 51, 0.5);
}
#tooltip p:nth-of-type(1) {
  margin: 0.5rem 0;
}
#tooltip p.diesel,
#tooltip p.gasoline {
  position: relative;
  padding-left: 0.25rem;
}
#tooltip p.diesel:before,
#tooltip p.gasoline:before {
  position: absolute;
  content: "";
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  border-radius: 50%;
}
#tooltip p.diesel:before {
  background: #2b70b4;
}
#tooltip p.gasoline:before {
  background: #8cb999;
}
