@import url("https://fonts.googleapis.com/css?family=Oswald");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Oswald', sans-serif;
  color: #eeeff6;
  background: -webkit-gradient(linear, left top, right bottom, from(#0072b5), color-stop(25%, #00127a), to(#004097));
  background: linear-gradient(to bottom right, #0072b5, #00127a 25%, #004097);
  overflow: hidden;
}
input[type="checkbox"] {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 70vh;
  left: calc(50% - 1.5rem);
}
div {
  position: absolute;
  top: 1.2rem;
  left: 1.5rem;
  right: 1.5rem;
  padding: 0.7rem;
  -webkit-box-shadow: 0 1px 0 0.4rem #00f7ff, 0 1px 0 0.8rem #00adb3;
          box-shadow: 0 1px 0 0.4rem #00f7ff, 0 1px 0 0.8rem #00adb3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div button {
  border: none;
  width: calc(3rem + 0.8vw);
  height: calc(3rem + 0.8vw);
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 26.458334 26.458334'><path d='M2.646 1.323L22.737 12.36 2.646 23.396z' fill='%23cccccc'/><path d='M3.721 3.062l20.091 11.037-20.09 11.036z' fill='%23ffffff'/></svg>");
  background-size: cover;
  cursor: pointer;
  margin: 0 0.4rem;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
div button:hover {
  -webkit-animation: tiltPlayButton 0.7s ease-out;
          animation: tiltPlayButton 0.7s ease-out;
}
div p {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: center;
  font-size: calc(2.5rem + 1vw);
  letter-spacing: 0.1rem;
}
div span {
  margin: 0 0.4rem;
  width: calc(3rem + 0.8vw);
  height: calc(3rem + 0.8vw);
}
div span.heart {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 26.458334 26.458334'><path d='M5.503 1.323v4.465h-4.19v8.93h4.19v4.464h4.191v4.465h8.382v-4.465h4.191v-4.464h4.191v-8.93h-4.19V1.323h-4.192v4.465H9.694V1.323z' fill='%23d40000'/><path d='M4.191 2.811v4.465H0v8.93h4.191v4.465h4.191v4.464h8.382v-4.464h4.191v-4.465h4.191v-8.93h-4.19V2.81h-4.192v4.465H8.382V2.81z' fill='red'/></svg>");
  background-repeat: no-repeat;
  background-size: cover;
}
div span.heart:hover {
  -webkit-animation: pulseHeartIcon 0.7s ease-out infinite;
          animation: pulseHeartIcon 0.7s ease-out infinite;
}
div span.point {
  background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' viewBox='0 0 26.458334 26.458334'><path d='M11.293 0v2.848H8.47v2.849H2.823v2.848H0v2.849h2.823v2.848h2.824v2.848H2.823v5.697h2.824v2.848H8.47v-2.848h2.823v-2.849h2.824v2.849h2.822v2.848h2.824v-2.848h2.823V17.09h-2.823V14.24h2.823v-2.848h2.823V8.545h-2.823V5.697h-5.647V2.848h-2.823V0z' fill='%23d45500'/><path d='M12.342.823v2.849H9.52V6.52H3.872V9.37H1.05v2.848h2.823v2.848h2.824v2.848H3.872v5.697h2.824v2.848h2.823V23.61h2.823V20.76h2.824v2.849h2.822v2.848h2.824V23.61h2.823v-5.697h-2.823v-2.849h2.823v-2.848h2.823V9.369h-2.823V6.52h-5.647V3.672h-2.823V.823z' fill='%23f60'/></svg>");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0;
}
div span.point:hover {
  -webkit-animation: blingPointIcon 0.7s ease-out infinite;
          animation: blingPointIcon 0.7s ease-out infinite;
}
div span.filler {
  visibility: hidden;
  opacity: 0;
}
h1 {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  padding: 0 0.6rem;
  text-align: center;
}
@media (max-width: 500px) {
  div {
    left: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
    -webkit-box-shadow: 0 1px 0 0.3rem #00f7ff, 0 1px 0 0.5rem #00adb3;
            box-shadow: 0 1px 0 0.3rem #00f7ff, 0 1px 0 0.5rem #00adb3;
  }
  div button,
  div span {
    width: 1.5rem;
    height: 1.5rem;
  }
  div p {
    font-size: 1.5rem;
  }
  input[type="checkbox"] {
    width: 2rem;
    height: 2rem;
  }
}
@media (min-width: 1400px) {
  div button,
  div span {
    width: 4rem;
  }
  div p {
    font-size: 3.5rem;
  }
}
@-webkit-keyframes tiltPlayButton {
  0%, 76% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  38% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}
@keyframes tiltPlayButton {
  0%, 76% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  38% {
    -webkit-transform: rotate(15deg);
            transform: rotate(15deg);
  }
}
@-webkit-keyframes blingPointIcon {
  0%, 76% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  38% {
    -webkit-filter: brightness(150%) contrast(120%);
            filter: brightness(150%) contrast(120%);
  }
}
@keyframes blingPointIcon {
  0%, 76% {
    -webkit-filter: brightness(100%);
            filter: brightness(100%);
  }
  38% {
    -webkit-filter: brightness(150%) contrast(120%);
            filter: brightness(150%) contrast(120%);
  }
}
@-webkit-keyframes pulseHeartIcon {
  0%, 76% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  38% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
@keyframes pulseHeartIcon {
  0%, 76% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  38% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}
