@import url('https://fonts.googleapis.com/css?family=Open+Sans')

font-text = 'Open Sans', sans-serif
color-text = #093497
color-bg = #0080FF
color-card = #F7FBFF

*
    box-sizing border-box
    margin 0
    padding 0

body
    min-height 100vh
    width 100%
    font-family font-text
    color color-text
    background color-bg

.container
    // display the visualizations in a single row, but have them wrap to a new row if need be (if there's not enough space)
    display flex
    flex-wrap wrap
    justify-content center
    margin 1.5rem 0

    .visualization
        max-width 500px
        width 90vw
        margin 1.5rem
        background color-card
        padding 1.5rem 1rem

        h1.title
            text-transform uppercase
            margin 0.25rem 0
            font-weight thin
        p.description
            margin-bottom 0.5rem


// style the axis labels and ticks
.axis
    text
        font-family font-text
        fill rgba(color-text, 0.8)
        font-weight bold
        text-transform capitalize

    path, line
        fill none
        stroke rgba(color-text, 0.5)

// style the areas to have them slightly transparent
.area
    opacity 0.55
    transition opacity 0.2s ease-out
    // on hover increase the the opacity
    &:hover
        opacity 0.85