@import url("https://fonts.googleapis.com/css?family=Open+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #093497;
  background: #0080ff;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.5rem 0;
}
.container .visualization {
  max-width: 500px;
  width: 90vw;
  margin: 0 1.5rem;
  background: #f7fbff;
  padding: 1.5rem 1rem;
}
.container .visualization h1.title {
  text-transform: uppercase;
  margin: 0.25rem 0;
  font-weight: thin;
}
.container .visualization p.description {
  margin-bottom: 0.5rem;
}
.axis text {
  font-family: "Open Sans", sans-serif;
  fill: rgba(9, 52, 151, 0.8);
  font-weight: bold;
  text-transform: capitalize;
}
.axis path,
.axis line {
  fill: none;
  stroke: rgba(9, 52, 151, 0.5);
}
