@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #333;
  background: linear-gradient(to right, #7b97eb, #58b4fd);
}
.container {
  max-width: 600px;
  width: 90vw;
  margin: 5vw auto 0;
  padding: 1rem;
  background: #fff;
  box-shadow: 0 1px 4px #fff;
  line-height: 2;
}
