@import url("https://fonts.googleapis.com/css?family=KoHo:700|Open+Sans");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  color: #333;
  background-color: #fff;
}

h1,
h2,
h3,
h4 {
  text-transform: uppercase;
  font-family: "KoHo", sans-serif;
}
