/*
properties for *, body and the container are purely for aesthetics

the effect itself is explained with the class of .transition-background and the attached pseudo-element found thereafter; scroll down to see how the effect is achieved
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  text-align: center;
}
.container {
  min-height: 100vh;
  padding: 3rem 0;
  background-image:
    linear-gradient(
      to right,
      #1c3248, #1f364d
    );
}
button {
  font-family: 'Lato', sans-serif;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #fff;
  border: none;
}
/*
the effect is achieved through pseudo-elements and absolute positioning

first it is necessary to set position relative on the element itself, anchoring the pseudo-element to the element
*/
.transition-background {
  background-image:
    linear-gradient(
      to right,
      #e0529c, #f05b45
    );
  position: relative;
  z-index: 1;
}
/*
once position is set to relative it is possible to use the pseudo-element
:before
or
:after
and position it as to cover the entire width and height of the element;
this is achieved by positioning the pseudo-element on the top left corner of the element and setting width and height to 100% of the same element

the effect is then achieved by setting a gradient on this pseudo-element and transitioning its opacity on hover;
from 0 to 1 in the timespan defined by the transition property

z-index is appplied to the pseudo-element as to position it below the element itself (by default this would be on top of the element)
*/
.transition-background:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image:
    linear-gradient(
      to right,
      #3ec6e0, #536df4
    );
  opacity: 0;
  transition: opacity 0.4s ease;
  z-index: -1;
}
.transition-background:hover:before {
  opacity: 1;
}
