.SignUpForm {
  /* display the contents of the form in a single column layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  /* include notable white space around the sign up form content */
  padding: 10vh 15vw;
  /* style the form to be a white card with a touch of bright shadow */
  border-radius: 12px;
  background: hsl(195, 50%, 98%);
  box-shadow: 0 1px 5px hsl(195, 50%, 98%);
  /* center the text in the form */
  text-align: center;
}

.SignUpForm h1 {
  text-transform: uppercase;
  font-size: calc(2rem + 1vw);
  /* give more transparency the header, which would otherwise be too heavy on the page */
  color: hsla(0, 0%, 15%, 0.7);
  font-weight: 300;
}

.SignUpForm button {
  /* style the button with the chosen accent color  */
  color: hsl(195, 50%, 98%);
  background: #FD5477;
  font-family: inherit;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;

  margin: 0.5rem 0;
  padding: 0.8rem 1.2rem;
  border:none;
  border-radius: 10px;
  cursor: pointer;
  /* transition for the hover and active states */
  transition: all 0.2s ease-out;
}
.SignUpForm button:hover {
  box-shadow: 0 2.5px 7.5px #FD5477, 0 -2.5px 7.5px #FD5477;
}
.SignUpForm button:active {
  transform: scale(1.1);
}
