@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  background: #5941f3;
  font-family: "Open Sans", sans-serif;
}
/* center the SVG in the page */
svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* transition for all path elements */
svg g path {
  transition: all 1s linear;
}
svg g path.fix {
  transition: none;
  transform: rotate(0);
}
/* transition for the path elements representing the seconds ticks
as to 'maintain' so to speak an impression of the current tick, increase the duration of the transition */
svg g.seconds path {
  opacity: 0.2;
  transition: 10s linear all;
}
svg g.seconds path.current {
  opacity: 1;
  stroke-width: 3px;
  transition: 1s linear all;
}
