@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Ubuntu+Mono')

// define the fonts and colors used in the project 
font-header = 'Montserrat', sans-serif
font-code = 'Ubuntu Mono', monospace
color-txt = #36416B
color-bg = #FFD633 
color-accent = #F3A53C 


*
    box-sizing border-box
    margin 0
    padding 0
  
body
    min-height 100vh
    width 100%
    font-family font-header
    color color-txt
    background rgba(color-bg, 0.8)  

.container
    // center the contents of the wrapping container horizontally 
    // display elements on top of one another
    display flex 
    flex-direction column
    align-items center
    margin 1.8rem 2.4rem

.container__intro
    // limit the width of the introductory's container
    // max-width 400px
    text-align center

    h1
        font-size 3rem
        letter-spacing 0.15rem
        text-transform uppercase
    p
        line-height 2
        font-size 1.4rem


table
    // rotate the table to have the rows one next to the other, rotate the entire table to skew it slightly (as it is rotated, you use the X axis)
    transform rotateZ(-90deg) perspective(500px) rotateX(2deg)
    
    tr
    // table row properties
        td 
            // style each table cell to have the appearance of a book
            font-size 3.2rem
            text-transform uppercase
            text-align center
            color color-bg
            cursor pointer
            border 2px solid color-accent
            // remember that as the cells are rotated, the reference of "top-right-botom-left" is also affected 
            // envision the properties affecting the element as-is and rotate the element
            border-radius 0 10px 10px 0
            padding 0.6rem 2.2rem 0.6rem 0.6rem
            background linear-gradient(to right, color-txt 92%, color-accent 92%, color-accent 97%, color-txt 97%) 
            // transition for the hover state, affecting the translation of the table cell itself
            transition all 0.5s ease-out
            // position relative to absolute position the pseudo element
            position relative 

            &:before
                // with a pseudo element include a white section to give "depth" to each book
                content ''
                position absolute 
                // remember that as the cells are rotated, the section is actually included at the bottom of each cell 
                // and you need to alter the height
                top 100%
                left 0
                height 10px 
                width 100%
                border-radius 0 0 10px 10px
                background #fff
                // transition for the hover state, affecting the height of the pseudo element 
                transition all 0.5s ease-out

            &:hover
                transform translateY(-40px)

            &:hover:before
                height 40px 

// style the pre and code elements to boldly display the code's snippet
.container__snippet pre
    background color-txt
    color #fff
    padding 0.5rem 1.2rem
    border-radius 10px
    // limit the max-width of the element and allow for horizontal scroll when the contents exceed the capacity of the container
    max-width 600px
    width 90vw
    overflow-x auto
    // animate the block of code to fade in
    animation fadeIn 0.5s ease-out both

    code
        font-family font-code
        font-size 1.5rem
        line-height 1.4

// specify the opacity @ 0% and 50% as to give "pause" to the animation 
@keyframes fadeIn 
    0%, 50% 
        opacity 0
    100%
        opacity 1
