/* section the wrapping container in two columns, the second of which occupies all the available space */
.App {
  display: grid;
  grid-gap: 12px;
  grid-template-columns: calc(60px + 1vw) 1fr;
  height: 95vh;
  background: var(--color-grid);
  border-radius: 2px;
  padding: 1rem;
}