@import url('https://fonts.googleapis.com/css?family=Lato:900|Open+Sans|Fira+Mono');

:root {
  --font-heading: 'Lato', sans-serif;
  --font-paragraph: 'Open Sans', sans-serif;
  --font-code: 'Fira Mono', monospace;
  --color-text: #1d1d1d;
  --color-background: #1d1d1d;
  --color-grid: #f9f9f9;
  --color-accent: #f1c15d;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  font-family: var(--font-paragraph);
  color: var(--color-text);
  background-color: var(--color-background);
  /* include some padding around the page's content */
  padding: 1rem;
  /* hide vertical overflow, as to allow scroll only on the grid responsible for the buttons */
  overflow: hidden;
}