// import font(s)
@import url("https://fonts.googleapis.com/css?family=Open+Sans")

// detail root variable(s)
font = "Open Sans", sans-serif
color-bg = #181743
color-text = #ECF5FE

*
    box-sizing border-box
    margin 0
    padding 0

body
    width 100%
    font-family font
    color color-text
    background color-bg

.container
    max-width 400px
    margin 2rem auto 1rem
    padding 1rem
    text-align center
    text-transform capitalize

    p
        font-weight 300
        text-transform uppercase
        letter-spacing 0.1rem
        line-height 2
        margin 1rem 0

    select
        margin 1rem 0
        border 2px solid color-text
        border-radius 5px
        padding 0.75rem 1rem
        background color-bg
        color inherit
        font-family inherit
        text-transform uppercase
        font-weight 300

        option
            background inherit
    #tooltip
        position absolute
        pointer-events none
        opacity 0
        padding 1rem
        background color-text
        color color-bg
        line-height 2
        transition all 0.2s ease-out