@import url("https://fonts.googleapis.com/css?family=Lato:300");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: 'Lato', sans-serif;
  color: #eee;
  background: #180221;
}
.container {
  width: 90vw;
  max-width: 800px;
  margin: 1.5rem auto;
  text-align: center;
}
.container h1#title {
  text-transform: capitalize;
  font-size: calc(2rem + 1vw);
}
.container h3#description {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin: 0.5rem 0;
}
.container p#update {
  text-transform: uppercase;
  margin-bottom: 5vh;
  animation: rolldown 0.5s 1s ease-out both;
}
svg path.line {
  fill: none;
  stroke: rgba(238,238,238,0.5);
  stroke-width: 1px;
}
svg path.area {
  fill: rgba(238,238,238,0.1);
}
svg circle.dot {
  fill: #180221;
  stroke: #eee;
  stroke-width: 1px;
}
svg .axis path,
svg .axis line {
  fill: none;
  stroke: rgba(238,238,238,0.5);
  stroke-width: 1px;
}
svg .axis text {
  fill: rgba(238,238,238,0.8);
  font-family: inherit;
}
svg line.grid-line {
  stroke: rgba(238,238,238,0.2);
}
@-moz-keyframes rolldown {
  0% {
    opacity: 0;
    letter-spacing: 0;
    transform: translateY(-15vh);
  }
  60% {
    opacity: 0;
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0.3rem;
    transform: translateY(0);
  }
}
@-webkit-keyframes rolldown {
  0% {
    opacity: 0;
    letter-spacing: 0;
    transform: translateY(-15vh);
  }
  60% {
    opacity: 0;
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0.3rem;
    transform: translateY(0);
  }
}
@-o-keyframes rolldown {
  0% {
    opacity: 0;
    letter-spacing: 0;
    transform: translateY(-15vh);
  }
  60% {
    opacity: 0;
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0.3rem;
    transform: translateY(0);
  }
}
@keyframes rolldown {
  0% {
    opacity: 0;
    letter-spacing: 0;
    transform: translateY(-15vh);
  }
  60% {
    opacity: 0;
    letter-spacing: 0;
  }
  100% {
    letter-spacing: 0.3rem;
    transform: translateY(0);
  }
}
