@import url('https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister');

/* create variable for the delay in the animation, as to change it for the different affected elements and introduce variability */
:root {
  --animation-delay: 2s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  width: 100%;
  font-family: 'Love Ya Like A Sister', cursive;  
}
.container {
  height: 100vh;
  /* overlay multiple gradient simply by comma separating background values and including a transparent color in the gradient definition  */
  background: 
    linear-gradient(to top right, rgb(158, 50, 108) 0%, transparent 60%), 
    linear-gradient(to top left, rgb(58, 68, 158) 0%, transparent 40%), 
    linear-gradient(to bottom right, rgb(58, 68, 158) 0%, transparent 40%), 
    radial-gradient(at center bottom, rgb(235, 98, 171) 20%, transparent 70%), 
    radial-gradient(at center right, rgb(235, 98, 171) 20%, transparent 90%);
  
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container h1 {
  text-align: center;
  font-size: calc(2.2rem + 1vw);
  color: #D4E0E5;
  text-shadow: 1px 2px 5px rgb(158, 50, 108);
  text-transform: capitalize;
}
.container__bookshelf {
  width: 100%;
  /* display header and bookshelf in a column, center horizontally */
  display: flex;
  justify-content: center;
}
.book {
  margin: 1.3rem;
  /* arbitrary measures */
  width: 200px;
  height: 250px;
  box-shadow: 1px 2px 5px rgb(158, 50, 108);
  background: #D4E0E5;
  /* position relative to anchor the child div to this parent element */
  position: relative;
}
/* place the cover to stretch over the entire parent container */
.book .book__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* book cover included through SVG files purposed to be 200px by 250px */
.book--one .book__cover {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 52.917 66.146"><path fill="#e94e3e" d="M0 0h52.917v66.146H0z"/><g fill="none" stroke="#d4e0e5" stroke-width=".265"><path d="M20.41 27.527c.304-.275.52.273.457.504-.171.625-.986.687-1.464.41-.856-.498-.9-1.681-.362-2.426.789-1.093 2.384-1.12 3.386-.315 1.335 1.073 1.342 3.091.267 4.347-1.352 1.58-3.8 1.567-5.307.22-1.826-1.63-1.792-4.509-.173-6.268 1.907-2.073 5.219-2.017 7.228-.126 2.32 2.184 2.244 5.93.08 8.19-2.46 2.567-6.641 2.47-9.151.031-2.815-2.735-2.696-7.351.016-10.11 3.01-3.064 8.063-2.923 11.071.062"/><path d="M31.939 15.999c-.275.303.273.52.504.456.625-.171.687-.986.41-1.464-.498-.855-1.681-.9-2.426-.362-1.093.789-1.12 2.384-.315 3.386 1.073 1.335 3.091 1.342 4.347.267 1.58-1.352 1.566-3.8.22-5.307-1.63-1.826-4.509-1.792-6.268-.173-2.073 1.907-2.017 5.219-.126 7.228 2.184 2.32 5.93 2.244 8.19.08 2.567-2.46 2.47-6.641.031-9.15-2.735-2.816-7.351-2.697-10.11.015-3.064 3.01-2.923 8.063.062 11.071"/><path d="M20.978 28.094c.274-.303-.273-.52-.504-.457-.626.172-.688.987-.41 1.465.497.855 1.68.9 2.426.362 1.093-.79 1.12-2.384.315-3.386-1.073-1.335-3.091-1.342-4.347-.268-1.58 1.353-1.567 3.8-.22 5.308 1.63 1.826 4.509 1.792 6.267.173 2.073-1.907 2.018-5.22.126-7.229-2.183-2.32-5.93-2.243-8.189-.079-2.568 2.46-2.47 6.641-.032 9.15 2.736 2.816 7.352 2.697 10.111-.015 3.064-3.01 2.923-8.063-.063-11.072"/><path d="M32.506 16.566c-.303.274-.52-.273-.457-.504.172-.626.987-.688 1.465-.41.855.497.9 1.68.362 2.426-.79 1.093-2.384 1.12-3.386.315-1.335-1.073-1.342-3.091-.268-4.347 1.353-1.58 3.8-1.567 5.308-.22 1.826 1.63 1.791 4.509.173 6.267-1.907 2.073-5.22 2.018-7.229.126-2.32-2.183-2.243-5.93-.079-8.189 2.46-2.568 6.641-2.47 9.15-.032 2.816 2.736 2.697 7.352-.015 10.111-3.01 3.064-8.063 2.923-11.072-.063"/><path d="M20.978 15.999c.274.303-.273.52-.504.456-.626-.171-.688-.986-.41-1.464.497-.855 1.68-.9 2.426-.362 1.093.789 1.12 2.384.315 3.386-1.073 1.335-3.091 1.342-4.347.267-1.58-1.352-1.567-3.8-.22-5.307 1.63-1.826 4.509-1.792 6.267-.173 2.073 1.907 2.018 5.219.126 7.228-2.183 2.32-5.93 2.244-8.189.08-2.568-2.46-2.47-6.641-.032-9.15 2.736-2.816 7.352-2.697 10.111.015 3.064 3.01 2.923 8.063-.063 11.071"/><path d="M32.506 27.527c-.303-.275-.52.273-.457.504.172.625.987.687 1.465.41.855-.497.9-1.681.362-2.426-.79-1.093-2.384-1.12-3.386-.315-1.335 1.073-1.342 3.091-.268 4.347 1.353 1.58 3.8 1.567 5.308.22 1.826-1.63 1.791-4.509.173-6.268-1.907-2.073-5.22-2.017-7.229-.126-2.32 2.184-2.243 5.93-.079 8.19 2.46 2.567 6.641 2.47 9.15.031 2.816-2.735 2.697-7.351-.015-10.11-3.01-3.064-8.063-2.923-11.072.062M20.41 16.566c.304.275.52-.273.457-.504-.171-.626-.986-.688-1.464-.41-.856.497-.9 1.68-.362 2.426.789 1.093 2.384 1.12 3.386.315 1.335-1.073 1.342-3.091.267-4.347-1.352-1.58-3.8-1.567-5.307-.22-1.826 1.63-1.792 4.509-.173 6.267 1.907 2.073 5.219 2.018 7.228.126 2.32-2.183 2.244-5.93.08-8.189-2.46-2.568-6.641-2.47-9.151-.032-2.815 2.736-2.696 7.352.016 10.111 3.01 3.064 8.063 2.923 11.071-.063"/><path d="M31.939 28.094c-.275-.303.273-.52.504-.457.625.172.687.987.41 1.465-.498.855-1.681.9-2.426.362-1.093-.79-1.12-2.384-.315-3.386 1.073-1.335 3.091-1.342 4.347-.268 1.58 1.353 1.566 3.8.22 5.308-1.63 1.826-4.509 1.792-6.268.173-2.073-1.907-2.017-5.22-.126-7.229 2.184-2.32 5.93-2.243 8.19-.079 2.567 2.46 2.47 6.641.031 9.15-2.735 2.816-7.351 2.697-10.11-.015-3.064-3.01-2.923-8.063.062-11.072"/></g><text style="line-height:1.25" x="26.717" y="278.558" font-weight="400" font-size="10.583" font-family="sans-serif" letter-spacing="0" word-spacing="0" stroke-width=".265" transform="translate(0 -230.854)"><tspan x="26.717" y="278.558" style="text-align:center" text-anchor="middle" fill="#d4e0e5">Blink</tspan><tspan x="26.717" y="291.788" style="text-align:center" text-anchor="middle" fill="#d4e0e5">Twice</tspan></text></svg>');
  --animation-delay: 2s;
}
.book--two .book__cover {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 52.917 66.146"><path d="M0 0h52.917v66.146H0z" fill="#9f253e"/><path d="M52.917 8.748L45.837 0h7.08zM0 8.748L7.08 0H0zm0 48.649l7.08 8.749H0zm52.917 0l-7.08 8.749h7.08z" fill="#721b2d"/><text style="line-height:1.25;text-align:center" x="43.77" y="31.385" font-weight="400" font-size="10.583" letter-spacing="0" word-spacing="0" font-family="sans-serif" text-anchor="middle" stroke-width=".265"><tspan x="26.053" y="31.385" style="text-align:center" fill="#d4e0e5">Picture</tspan> <tspan x="26.053" y="44.615" style="text-align:center" fill="#d4e0e5">Perfect</tspan></text></svg>');
  --animation-delay: 3s;
}
.book--three .book__cover {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="200" height="250" viewBox="0 0 52.917 66.146"><path fill="#37121c" d="M0 0h52.917v66.146H0z"/><text style="line-height:1.25" x="183.027" y="165.715" transform="rotate(45 278.666 -115.427)" font-weight="400" font-size="10.583" font-family="sans-serif" letter-spacing="0" word-spacing="0" stroke-width=".265"><tspan x="183.027" y="165.715" style="text-align:start" fill="#d4e0e5">Slippery</tspan><tspan x="183.027" y="178.945" style="text-align:start" fill="#d4e0e5">Slope</tspan></text><path fill="#37121c" d="M0 0h52.917v66.146H0z"/><text style="line-height:1.25" x="26.191" y="247.589" font-weight="400" font-size="8.166" font-family="sans-serif" letter-spacing="0" word-spacing="0" stroke-width=".204" transform="translate(0 -230.854)"><tspan x="27.299" y="247.589" style="text-align:center" text-anchor="middle" fill="#d4e0e5">Slippery </tspan><tspan x="26.191" y="257.796" style="text-align:center" text-anchor="middle" fill="#d4e0e5">Slope</tspan></text><path d="M43.03 13.761l-.707-1.432-1.58-.23 1.144-1.115-.27-1.574 1.413.743 1.414-.743-.27 1.574 1.144 1.115-1.58.23z" fill="#d4e0e5" stroke="#d4e0e5" stroke-width=".265"/><path d="M4.893 42.492s10.156-6.013 19.778 8.152c9.621 14.165 23.252 4.945 23.252 4.945" fill="none" stroke="#d4e0e5" stroke-width="3.969" stroke-dashoffset="39.688"/></svg>');
  --animation-delay: 4s;
}

.book .book__cover {
  height: 0;
  animation: roll-in 10s ease-out var(--animation-delay) infinite;
}

/* The intermittency of the animation is created by creating a timeframe in which the properties do not change (81-100%) */
@keyframes roll-in {
  0% {
    height: 0;
    top: 0;
  }
  20% {
    height: 100%;
    top: 0;
  }
  60% {
    height: 100%;
    top: 0;
  }
  80% {
    height: 0;
    top: 100%
  }
  81% {
    height: 0;
    top: 0;
  }
}


/* On smaller screen sizes position books in a single column */
@media only screen and (max-width: 650px) {
  .container__bookshelf {
    flex-direction: column;
    align-items: center;
  }
}
