// import font(s)
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono|Open+Sans')

// detail root variable(s)
font = 'Open Sans', sans-serif
font-mono = 'IBM Plex Mono', monospace
color-bg = #E6E9EC
color-card = #2E2F40
color-text = #ECF5FE

*
    box-sizing border-box
    margin 0
    padding 0

body
    width 100%
    font-family font
    color color-text
    background color-bg

.container
    max-width 700px
    margin 2rem auto 1rem
    padding 1rem
    text-transform capitalize
    background color-card
    box-shadow 0 1px 4px rgba(color-card, 0.5)
    p
        font-weight 300
        text-transform uppercase
        letter-spacing 0.1rem
        line-height 2

        &:nth-of-type(1)
            border-bottom 1px solid rgba(color-text, 0.2)
            display inline-block

        &:nth-of-type(2)
            margin 2rem 0 1rem
            text-align center

    svg
        text
            font-size 1rem
            font-family font-mono

